//-----------------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------------
$primary-color: #004d6e;
$secondary-color: #cb1a20;
$tertiary-color: #27A0B6;

$gothamBlack: #242021;
$gothamRed: #a20d2c;
