<footer class="redBorderTop">
	<span class="normal">© {{ now.Format "2006" }} GothamHQ Creators.</span>
	<span class="small">© GothamHQ</span>
	<img class="logo" src="/assets/img/logos/logo-main-light.svg" />
	<ul class="menu h social">
		<li><a href="https://facebook.com/GothamHQ"><span class="fab fa-facebook"></span></a>
		<li><a href="https://www.linkedin.com/company/gotham"><span class="fab fa-linkedin"></span></a></li>
		<li><a href="https://github.com/GothamHQ"><span class="fab fa-github"></span></a></li>
	</ul>
</footer>
