<footer class="redBorderTop">
	<span class="normal">© {{ now.Format "2006" }} Strawberry Creators.</span>
	<span class="small">© StrawberrySSG</span>
	<img class="logo" src="/assets/img/logos/logo-main-light.svg" />
	<ul class="menu h social">
		<li><a href="https://twitter.com/StrawberrySSG" rel="me"><span class="fab fa-twitter"></span></a>
		<li><a href="https://nanobyte.cafe/@GothamHQ" rel="me"><span class="fab fa-mastodon"></span></a>
		<li><a href="https://facebook.com/StrawberrySSG" rel="me"><span class="fab fa-facebook"></span></a>
		<li><a href="https://www.linkedin.com/company/gotham" rel="me"><span class="fab fa-linkedin"></span></a></li>
		<li><a href="https://github.com/StrawberrySSG" rel="me"><span class="fab fa-github"></span></a></li>
	</ul>
</footer>
