{{- define "main" }}
<main class="full">
	<h1>Gotham Documentation</h1>
	<div id="tile-grid">
		<div id="quickstart-tile" class="tile">
			<h3>Get Started with Gotham</h3>
			<p>Quickly jump into Gotham for intermediate and advanced users. Beginners should start with the Gotham Introduction. 
			<a href="/gotham/quickstart/">Quick Start</a>
			</p>
		</div>
		<div class="tile">
			<h3>Gotham Documentation</h3>
			<p>Detailed information on how to setup and use Gotham. 
			<a href="/gotham/">Usage Docs</a>
			</p>
		</div>
		<div class="tile">
			<h3>Gotham Developer Docs</h3>
			<p>Documentation for Go developers on how to contribute to Gotham.
			<a href="/development/">Developer Docs</a>
			</p>
		</div>
	</div>
</main>
{{ end }}
