{{- define "main" }}
<main class="full">
	<h1>Strawberry Documentation</h1>
	<div id="tile-grid">
		<div id="quickstart-tile" class="tile">
			<h3>Get Started with Strawberry</h3>
			<p>Quickly jump into Strawberry for intermediate and advanced users. Beginners should start with the Strawberry Introduction. 
			<a href="/gotham/quickstart/">Quick Start</a>
			</p>
		</div>
		<div class="tile">
			<h3>Strawberry Documentation</h3>
			<p>Detailed information on how to setup and use Strawberry. 
			<a href="/gotham/">Usage Docs</a>
			</p>
		</div>
		<div class="tile">
			<h3>Strawberry Developer Docs</h3>
			<p>Documentation for Go developers on how to contribute to Strawberry.
			<a href="/development/">Developer Docs</a>
			</p>
		</div>
	</div>
</main>
{{ end }}
